.achievements-card{
    .achievements-label{
        background: $body-bg;
        font-size: 14px;
        letter-spacing: 0.04rem;
    }
    .achievements-header{
        letter-spacing: 0.02rem;
    }
}